.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    background-color: rgb(214, 195, 171);
}


* {
    background-color: #faebd7;
    font-family: Lato, sans-serif;
    color: #402a21;
}

h1 {
    text-align: center;
    font-size: 28px;
}

h1:hover {
    color: #c27f65;
}

h2 {
    text-align: center;
    text-decoration: overline;
    font-size: 22px;
}

#main>#image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#main>#img-caption {
    font-size: 16px;
}

#main>#img-div {
    text-align: center;
}

#img-div>#image {
    display: block;
}

.image {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px;
}

.galleria {
    width: 100px;
}

a:hover {
    color: #c27f65;
}